* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7CFD8;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
    width: 100%;
}

.container .tenor-gif-embed {
    max-width: 100%;
    height: auto;
}

.container .btn {
    display: flex;
    gap: 30px;
    flex-wrap: wrap; /* Allow buttons to wrap on small screens */
    justify-content: center;
}

.btn a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.4);
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
        gap: 15px;
    }

    .btn a {
        padding: 8px 20px;
        font-size: 14px;
    }
}
